{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'hello/styles.css'%}">
    <title>Welcome!</title>
</head>
<body>
    {%if name%}
    <h1>Hello {{name}} Welcome</h1>
    {%else%}
    <h1>Hello World!</h1>
    {%endif%}
    <form action="{% url 'newyear:newyear' %}">
        {%csrf_token%}
        <button id = "login" type="submit">LOGIN</button>
    </form>
    <form action="{% url 'newyear:newyear' %}">
        {%csrf_token%}
        <button  id = "signup" type="submit">SIGNUP</button>
    </form>
</body>
</html>